body {
  margin: 0;
}

.slider {
  --slider-per-view: 1;
  --slide-count: calc(var(--slider-per-view) / 10);
  position: relative;
  width: 100%;
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
}

/*@media (min-width: 576px) {*/
/*  .slider {*/
/*    --slider-per-view: 2;*/
/*  }*/
/*}*/
/**/
/*@media (min-width: 768px) {*/
/*  .slider {*/
/*    --slider-per-view: 3;*/
/*  }*/
/*}*/

.slider__list {
  display: flex;
  align-items: center;
  /*gap: 10px;*/
  height: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  transition: transform 0.4s;
  overflow: auto;
  /*scroll-behavior: smooth;*/
  scroll-snap-type: x mandatory;
}
.slider__list::-webkit-scrollbar {
  display: none;
}

.slider__slide {
  min-width: calc(100% / var(--slider-per-view, 1));
  height: 100%;
  scroll-snap-align: start;
  font-size: 25px;
  text-align: center;
  color: #ffffff;
}

.slider__slide--visible {
  color: #000000;
}

.slider__button-prev {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  cursor: pointer;
}
.slider__button-next {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  cursor: pointer;
}

.slider__pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.slider__pagination-button {
  margin: 0 10px;
  cursor: pointer;
  font-size: var(--slide-count);
  display: block;
}

.slider__pagination-button--active {
  color: #000;
  font-weight: bold;
}

/*@media (min-width: 576px) {*/
/*  .slider__pagination-button:nth-child(n + 6) {*/
/*    display: none;*/
/*  }*/
/*}*/
/**/
/*@media (min-width: 768px) {*/
/*  .slider__pagination-button:nth-child(n + 5) {*/
/*    display: none;*/
/*  }*/
/*}*/
